asgiref==3.6.0
diploma-frontend @ file:///home/vvv/PycharmProjects/python_django_diploma/diploma-frontend/dist/diploma-frontend-0.6.tar.gz#sha256=d33ee619e9ef34822c969302b773bc2285b98ff7bfc2a73af7370b02a20ac21f
Django==4.2
sqlparse==0.4.4
