{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
<div class="Auth">
    <div class="wrapper">
        <h3 class="sign-in">Registration</h3>
        <form @submit.prevent="signUp()">
            <input class="user-input"
                   type="text"
                   name="name"
                   id="name"
                   placeholder="Name"
            />
            <input class="user-input"
                   type="text"
                   name="login"
                   id="login"
                   placeholder="Login"
            />
            <input class="user-input"
                   type="password"
                   name="password"
                   id="password"
                   placeholder="Password"
            />
            <input class="user-input"
                   type="password"
                   name="passwordReply"
                   id="passwordReply"
                   placeholder="Repeat the password"
            />
            <input type="submit" value="Create an account"/>
            <a class="sub-link" href="/sign-in">Sign In</a>
        </form>
    </div>
</div>
{% endblock %}

{% block mixins %}
<script src="{% static 'frontend/assets/js/signUp.js' %}"></script>
{% endblock %}